@media screen and (min-width: 900px) {
    
    
    :root{
        --primary-color: #111111;
        --secondary-color: #466365;
        --tertiary-color: #EF7B45;
        --font-color: #e1e1e1;
        --font-alternate: #CDEDF6;
    }
    
    .business-container {
        padding: 10px;
        margin: 0;
    }

    .table table {
        width: 100%;
        border-collapse: collapse;
        font-family: 'Segoe UI', sans-serif;
        font-size: 16px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        border-radius: 12px;
    }
}