@media screen and (min-width: 900px) {
    
    
    :root{
        --primary-color: #111111;
        --secondary-color: #466365;
        --tertiary-color: #EF7B45;
        --font-color: #e1e1e1;
        --font-alternate: #CDEDF6;
    }

    #nav-bar {
        display: block;
    }
    
    .hamburguer{
        display: none;
    }

    .business-container {
        padding: 10px;
        margin: 0;
    }

    .table table {
        width: 100%;
        border-collapse: collapse;
        font-family: 'Segoe UI', sans-serif;
        font-size: 16px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        border-radius: 12px;
    }

    td, th {
        padding: 15px 20px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    header, nav {
        flex-direction: row;
    }

    

    .areas-box {
        display: flex;
        justify-content: space-around;
    }

    footer {
        font-size: 18px;
        justify-content: center;
    }

    .form {
        flex-direction: row;
    }

    .form-container {
    width: 40%;
}
    .membership-card {
        width: 100%;
    }

    .membership-card {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.6s ease-out forwards;
}

.membership-card:nth-child(1) {
  animation-delay: 0.1s;
}
.membership-card:nth-child(2) {
  animation-delay: 0.3s;
}
.membership-card:nth-child(3) {
  animation-delay: 0.5s;
}
.membership-card:nth-child(4) {
  animation-delay: 0.7s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.discover-card:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

}