@media screen and (min-width: 640px) {


    .discover-card {
        padding: 10px;
        margin: 10px;
        background-color: white;
        border-radius: 10px;
        display: grid;
        grid-template-areas: 
        "title title title"
        "img description description"
        "img address address"
        "button button button";
}
}