:root {
    --primary-color: #f9f1d2;
    --secondary-color: #955D25;
    --tertiary-color: #A77E58;
    --font-color: #191102;
    --alternate-color: #DAD4EF;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: 'Libertinus Serif', sans-serif;
}

.hamburguer {
    display: block;
    cursor: pointer;
    font-size: 24px;
    background-color: transparent;
    color: var(--primary-color);
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.hamburguer::before {
    content: "\2630";
}
.hamburguer.show::before {
    content: "X";
}

.nav-container.show {
    display: block;   
}

.logo {
    font-family: 'Libre Baskerville';
    margin: 10px;
    padding: 10px;
}


.home-hero {
    background-image: url("../images/books.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.highlight-card {
    background-color: white;
    color: var(--font-color);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 2.5rem;
    text-align: center;
    padding-bottom: 2rem;
}



.highlight-card a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
    margin: 2rem;
    border-radius: 55px;
    transition: background-color 0.3s ease;
}

.highlight-card a:hover {
    background-color: var(--tertiary-color);
    color: var(--font-color);
}

.highlight-image {
    width: 100%;
}

#home-logo {
    font-size: 4.5em;
    text-align: center;
    margin-top: 20px;
}



header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/header.webp');
    background-size: cover;
    margin: 0;
    border: 0;
    color: var(--primary-color);
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-container {
    background-color: var(--font-color);
    display: none;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.nav-container nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

nav a {
    text-decoration: none;
    font-size: 22px;
    color: var(--primary-color);
    transition: all 0.3s ease;
    margin: 10px;
    padding: 5px;
}

nav a:hover {
    color: var(--tertiary-color);
}

.color-palette {
    display: flex;
    justify-content: space-around;
}

.color-palette div {
    width: 80%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid var(--font-color);
}

.primary-color { background-color: var(--primary-color); }
.secondary-color { background-color: var(--secondary-color); }
.third-color { background-color: var(--tertiary-color); }
.alternate-color { background-color: var(--alternate-color); }
.font-color{ background-color: var(--font-color); color: var(--primary-color); }
.books-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book {
    width: 70%;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    background-color: var(--primary-color);
    margin: 10px;
    color: var(--font-color);
}

.book img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    max-width: 100%;
    border-radius: 12px;
}

.search-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/lighthouse.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#search-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#search-form button {
    padding: 10px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#search-form button:hover {
    background-color: var(--tertiary-color);
    color: var(--font-color);
}

#search {
    width: 100%;
    padding: 1.5rem;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Libertinus Serif';
}

footer {
    background-color: var(--font-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.books-main {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.cat-container, .his-container, .sci-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
}

div::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cat-container > div, .his-container > div, .sci-container > div {
    scroll-snap-align: start;
}

.book-cat {
    min-width: 180px;
    max-width: 180px;
    background-color: white;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--font-color);
    transition: transform 0.3s ease;
}



.book-cat img {
    max-width: 100%;
    border-radius: 12px;
}

.book-cat h2 {
    font-size: 16px;
    margin: 10px 0;
}

.book-cat button, .close-dialog-button, .subscribe-button {
    margin: 15px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

.book-cat button:hover, .close-dialog-button:hover, .subscribe-button:hover {
    background-color: var(--tertiary-color);
    color: var(--font-color);
}

/* This will be the dialog section */

dialog {
    border: 1px solid black;
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid black;
}

.subscribe-main {
    min-height: 100vh;
    text-align: center;
    background-image: url('../images/lighthouse.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.subscribe-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;

}

.option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
    margin: 2.5rem;
    align-items: center;
    border-radius: 12px;
    background-color: var(--primary-color);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    height: 60vh;
}

.option h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
}

.option ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

.prices-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.old-price {
    text-decoration: line-through;
    color: red;
    margin-right: 10px;
    font-size: 15px;
}

.subscribe-header {
    margin: 0;
    padding: 1rem;
}

.subscribe-header h1, .subscribe-header h2 {
    color: var(--font-color);
    font-family: 'Libre Baskerville', serif;
}