:root {
    --primary-color: #f3f9d2;
    --secondary-color: #955D25;
    --tertiary-color: #A77E58;
    --font-color: #191102;
    --alternate-color: #DAD4EF;
}

body {
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: 'Anta', sans-serif;
}

.logo {
    width: 150px;
    height: auto;
}

main {
    margin: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 22px;
    color: var(--secondary-color);
    transition: all 0.3s ease;
}

nav a:hover {
    color: var(--font-color);
}

.color-palette {
    display: flex;
    justify-content: space-around;
}

.color-palette div {
    width: 80%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid var(--font-color);
}

.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}
.third-color {
    background-color: var(--tertiary-color);
}
.alternate-color {
    background-color: var(--alternate-color);
}

.font-color{
    background-color: var(--font-color);
    color: var(--primary-color);
}


.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movies-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie {
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}